<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   - Copyright (c) 2016 Donald Purnhagen
   -
   - Description:
   -     Set of composite panels controlled by a combo selection.
   -
   - Contributors:
   -     Donald Purnhagen <dpurnhagen@gmail.com>
   -
   - Origin:
   -     https://github.com/dpurnhagen/crabrace
   -->
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Crab Race Page"
            nameFilter="*.crabrace"
            class="us.dpeg.crabrace.properties.CrabraceProperties"
            id="us.dpeg.crabrace.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
